<link rel="stylesheet" href="./styles/pie.css">

<footer class="pie">

    <div class="pie-column">

        <p>Dirección de Factura</p>
        El Pinar 36, San Joaquín, Región Metropolitana
    </div>
    <div class="pie-column">
        <p class="center-align">© WithU todos los derechos reservados </p>
    </div>

    <div class="pie-column">
        <p class="center-align">Contacto</p>
        <div class="pie-column">
            <ul class="left-align">
                <li>antonia.figueroaa@usm.cl</li>
                <li>eduardo.maldonadoz@usm.cl</li>
                <li>pabo.sanchezmo@usm.cl</li>
            </ul>
        </div>

    </div>
</footer>