<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="./styles/home.css">
    <link rel="stylesheet" href="./styles/burbuja.css">

</head>

<!DOCTYPE html>
<html>

<body>

    <%- include('./components/header.ejs') %>

        <p></p>
        <p></p>
        <p style="font-weight: bold; font-size: 25px; font-family: sans-serif; text-align: center;">¿Qué sección te
            gustaría revisar?</p>
        <ul style="padding-bottom: 150px;">
            <div class="container">
                <div class="burbuja">
                    <div class="titulo">Calmar</div>
                    <div class="texto">Entra y relájate</div>
                    <a class="enlace" href="https://www.ejemplo.com">Ir</a>
                </div>

                <div class="burbuja">
                    <div class="titulo">Ansiedad</div>
                    <div class="texto">Ten calma, respira. Te ayudaremos</div>
                    <a class="enlace" href="https://www.ejemplo.com">Ir</a>
                </div>
                <div class="burbuja">
                    <div class="titulo">Reflexión</div>
                    <div class="texto">Escribe lo que estas pasando, te hará sentir mejor y reflexionar más
                        profundamente</div>
                    <a class="enlace" href="https://www.ejemplo.com">Ir</a>
                </div>
                <div class="burbuja">
                    <div class="titulo">Respiración</div>
                    <div class="texto">Técnicas de respiración para cuando lo necesites en momentos de nerviosismo</div>
                    <a class="enlace" href="/respiracion">Ir</a>
                </div>
            </div>
        </ul>


        <!-- <div class="pie-container"> -->
        <%- include('./components/footer.ejs') %>
</body>

</html>