<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>

<body>
    <h1>¡Hola, <%= name %>!</h1>
    <h3>tu interés es: "<%= notificacion %>"</h3>
    </p>

    <p>¿Qué te gustaría dedicar hoy?</p>
    <ul>
        <li><a href="">Calmar</a></li>
        <li><a href="">Ansiedad</a></li>
        <li><a href="">Reflexionar</a></li>
        <li><a href="">Respiración</a></li>
    </ul>

    <p>¿Qué te gustaría hacer?</p>
    <ul>
        <li><a href="registro.html">Registrar usuario</a></li>
        <li><a href="/login">Ingresar en usuario</a></li>
        <li><a href="/logout">Permanecer anónimo</a></li>
    </ul>
</body>

</html>