<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./styles/in.css">
    <link rel="stylesheet" href="./styles/home.css">

</head>

<body>

    <% if (invalidUser) { %>
        <p>Usuario inválido. Inténtalo de nuevo.</p>
        <% } %>

            <form action="/login" method="POST">
                <h1>Login</h1>
                <label for="username">Usuario:</label>
                <input type="text" id="username" name="username" required>

                <input type="submit" class="button-in" value="Ingresar">
                <br></br>
                <button class="button-in" onclick="window.location.href='/home'">Home</button>
            </form>
</body>


</html>