<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="./styles/in.css">
    <link rel="stylesheet" href="./styles/home.css">
</head>

<body>

    <form action="/a_registro" method="POST">
        <h1>Formulario de Registro</h1>
        <label for="nombre">Nombre:</label>
        <input placeholder="Pamelita" type="text" id="nombre" name="nombre" required>
        <br>

        <label for="edad">Edad Actual:</label>
        <input placeholder=15 type="number" id="edad" name="edad" required>
        <br>

        <label for="notificacion">Interés:</label>
        <input placeholder="Animalitos, Trenes, Jueguitos, etc." type="text" id="notificacion" name="notificacion"
            required>
        <br>
        <br></br>
        <input type="submit" class="button-in" value="Registrarse">
        <br></br>
        <button class="button-in" style="padding: 10px;" onclick="window.location.href='/home'">
            Home</button>
    </form>
</body>

</html>